# MySQL
MYSQL_DATABASE=agenda_db
MYSQL_ROOT_PASSWORD=toor
MYSQL_PORT=3306

# Backend
BACKEND_PORT=8080
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/agenda_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=toor
SECURITY_JWT_SECRET=clave-super-secreta-agenda-ies-jandula-cambia-esta-clave-en-produccion
SECURITY_JWT_EXPIRATION_MS=86400000
APP_TV_TOKEN=cambia-este-token-tv

# Frontend
FRONTEND_PORT=80
# Opcional para futuras compilaciones del frontend si se parametriza la API
VITE_API_URL=http://localhost:8080
